*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(150deg, #ff0000,#000)
}

.header{
    text-align: center;
    margin-top: 3rem;
}

.header h2{
    font-size: 2rem;
    color: #fff;
}

.search-bar{
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 100%;
    margin-top: 2rem;
}

#search-inp{
    width: 50vw;
    padding: 13px;
    outline: none;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

h5{
    color: #ff0000;
    background-color: #fff;
    margin-top: 5px;
    padding: 0 10px;
    border-radius: 10px;
}

.search-bar button{
    padding: 10px;
    max-width: 10vw;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
    background-color: #ff0000;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.search-bar button:hover{
    background-color: #d70606;
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.box{
    background-color: #fff;
    margin-top: 3rem;
    height: 21rem;
    width: 17rem;
    border-radius: 10px;
}

.box-items{
    text-align: center;
    margin-top: 2rem;
}

.box-items img{
    height: 13rem;
    width: 12rem;
    border-radius: 5px;
}

.box-items h2{
    font-size: 1rem;
}

.box-items button{
    width: 85%;
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1rem;
}

.box-items button:hover{
    background-color: #d70606;
}

@media screen and (min-width: 300px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 768px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1068px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
}